body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AlignCenter{
  text-align: center;
}

.Header{
  background-color: #ffba08;
  padding: 5%;
}

.HeaderLi{
  display: inline;
}

li{
  list-style-type: none;
}

footer{
  background-color: #ffba08;
  position: fixed;
  bottom: 0;
  width: 100%;
}
